%h1 商品一覧

%table.table
  %thead
    %tr
      %th= t_model('product.name')
      %th
      %th カートに入れる
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= link_to 'Show', product
        %td= link_to 'カートに入れる', new_product_cart_product_path(product)
